
body {
  font-family: Arial, sans-serif;
  background-color: #0d0909;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 100vh;           
  background-color: #fcf3f3;
}


.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background: #bab5b5;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgb(0, 0, 0);
  
}


h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
  color: #322525;
}


.filters {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}


.filters button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #7862627a;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
  color: black;
}

.filters button:hover {
  background-color: #dacaca;
}

.filters button.active {
  background-color: #77c75c;
  color: rgb(11, 2, 2);
}


.filters label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  font-weight: bold;
  
}


table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px 8px;
  text-align: left;
  border-bottom: 1px solid #f7f1f1;
}

th {
  background-color: #6a6565;
  font-weight: bold;
}


tr.selected {
  background-color: #544843;
  transition: background 0.2s;
}


.badge {
  padding: 4px 8px;
  border-radius: 12px;
  font-weight: bold;
  color: white;
  font-size: 0.9em;
  text-align: center;
}

.badge.present {
  background-color: #4caf50;
}

.badge.absent {
  background-color: #f44336;
}


tbody tr:hover {
  background-color: #756060;
  cursor: pointer;
  transition: background 0.2s;
}